USE [msdb]
GO
/****** Object:  User [MS_DataCollectorInternalUser]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'MS_DataCollectorInternalUser')
CREATE USER [MS_DataCollectorInternalUser] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [##MS_PolicyTsqlExecutionLogin##]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'##MS_PolicyTsqlExecutionLogin##')
CREATE USER [##MS_PolicyTsqlExecutionLogin##] FOR LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [##MS_PolicyEventProcessingLogin##]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'##MS_PolicyEventProcessingLogin##')
CREATE USER [##MS_PolicyEventProcessingLogin##] FOR LOGIN [##MS_PolicyEventProcessingLogin##] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [UtilityIMRWriter]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'UtilityIMRWriter' AND type = 'R')
CREATE ROLE [UtilityIMRWriter]
GO
/****** Object:  DatabaseRole [UtilityIMRReader]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'UtilityIMRReader' AND type = 'R')
CREATE ROLE [UtilityIMRReader]
GO
/****** Object:  DatabaseRole [UtilityCMRReader]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'UtilityCMRReader' AND type = 'R')
CREATE ROLE [UtilityCMRReader]
GO
/****** Object:  DatabaseRole [TargetServersRole]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'TargetServersRole' AND type = 'R')
CREATE ROLE [TargetServersRole]
GO
/****** Object:  DatabaseRole [SQLAgentUserRole]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'SQLAgentUserRole' AND type = 'R')
CREATE ROLE [SQLAgentUserRole]
GO
/****** Object:  DatabaseRole [SQLAgentReaderRole]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'SQLAgentReaderRole' AND type = 'R')
CREATE ROLE [SQLAgentReaderRole]
GO
/****** Object:  DatabaseRole [SQLAgentOperatorRole]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'SQLAgentOperatorRole' AND type = 'R')
CREATE ROLE [SQLAgentOperatorRole]
GO
/****** Object:  DatabaseRole [ServerGroupReaderRole]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'ServerGroupReaderRole' AND type = 'R')
CREATE ROLE [ServerGroupReaderRole]
GO
/****** Object:  DatabaseRole [ServerGroupAdministratorRole]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'ServerGroupAdministratorRole' AND type = 'R')
CREATE ROLE [ServerGroupAdministratorRole]
GO
/****** Object:  DatabaseRole [PolicyAdministratorRole]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'PolicyAdministratorRole' AND type = 'R')
CREATE ROLE [PolicyAdministratorRole]
GO
/****** Object:  DatabaseRole [dc_proxy]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'dc_proxy' AND type = 'R')
CREATE ROLE [dc_proxy]
GO
/****** Object:  DatabaseRole [dc_operator]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'dc_operator' AND type = 'R')
CREATE ROLE [dc_operator]
GO
/****** Object:  DatabaseRole [dc_admin]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'dc_admin' AND type = 'R')
CREATE ROLE [dc_admin]
GO
/****** Object:  DatabaseRole [db_ssisoperator]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'db_ssisoperator' AND type = 'R')
CREATE ROLE [db_ssisoperator]
GO
/****** Object:  DatabaseRole [db_ssisltduser]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'db_ssisltduser' AND type = 'R')
CREATE ROLE [db_ssisltduser]
GO
/****** Object:  DatabaseRole [db_ssisadmin]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'db_ssisadmin' AND type = 'R')
CREATE ROLE [db_ssisadmin]
GO
/****** Object:  DatabaseRole [DatabaseMailUserRole]    Script Date: 7/14/2024 9:27:13 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'DatabaseMailUserRole' AND type = 'R')
CREATE ROLE [DatabaseMailUserRole]
GO
ALTER ROLE [SQLAgentUserRole] ADD MEMBER [MS_DataCollectorInternalUser]
GO
ALTER ROLE [db_ssisltduser] ADD MEMBER [MS_DataCollectorInternalUser]
GO
ALTER ROLE [db_ssisoperator] ADD MEMBER [MS_DataCollectorInternalUser]
GO
ALTER ROLE [dc_operator] ADD MEMBER [MS_DataCollectorInternalUser]
GO
ALTER ROLE [dc_admin] ADD MEMBER [MS_DataCollectorInternalUser]
GO
ALTER ROLE [SQLAgentUserRole] ADD MEMBER [##MS_PolicyTsqlExecutionLogin##]
GO
ALTER ROLE [SQLAgentReaderRole] ADD MEMBER [##MS_PolicyTsqlExecutionLogin##]
GO
ALTER ROLE [SQLAgentOperatorRole] ADD MEMBER [##MS_PolicyTsqlExecutionLogin##]
GO
ALTER ROLE [PolicyAdministratorRole] ADD MEMBER [##MS_PolicyTsqlExecutionLogin##]
GO
ALTER ROLE [SQLAgentUserRole] ADD MEMBER [##MS_PolicyEventProcessingLogin##]
GO
ALTER ROLE [SQLAgentReaderRole] ADD MEMBER [##MS_PolicyEventProcessingLogin##]
GO
ALTER ROLE [SQLAgentOperatorRole] ADD MEMBER [##MS_PolicyEventProcessingLogin##]
GO
ALTER ROLE [PolicyAdministratorRole] ADD MEMBER [##MS_PolicyEventProcessingLogin##]
GO
ALTER ROLE [UtilityIMRReader] ADD MEMBER [UtilityIMRWriter]
GO
ALTER ROLE [SQLAgentUserRole] ADD MEMBER [SQLAgentReaderRole]
GO
ALTER ROLE [SQLAgentReaderRole] ADD MEMBER [SQLAgentOperatorRole]
GO
ALTER ROLE [ServerGroupReaderRole] ADD MEMBER [ServerGroupAdministratorRole]
GO
ALTER ROLE [SQLAgentOperatorRole] ADD MEMBER [PolicyAdministratorRole]
GO
ALTER ROLE [db_ssisltduser] ADD MEMBER [dc_proxy]
GO
ALTER ROLE [db_ssisoperator] ADD MEMBER [dc_proxy]
GO
ALTER ROLE [SQLAgentUserRole] ADD MEMBER [dc_operator]
GO
ALTER ROLE [db_ssisltduser] ADD MEMBER [dc_operator]
GO
ALTER ROLE [db_ssisoperator] ADD MEMBER [dc_operator]
GO
ALTER ROLE [dc_operator] ADD MEMBER [dc_admin]
GO
/****** Object:  Schema [DatabaseMailUserRole]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'DatabaseMailUserRole')
EXEC sys.sp_executesql N'CREATE SCHEMA [DatabaseMailUserRole]'
GO
/****** Object:  Schema [db_ssisadmin]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'db_ssisadmin')
EXEC sys.sp_executesql N'CREATE SCHEMA [db_ssisadmin]'
GO
/****** Object:  Schema [db_ssisltduser]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'db_ssisltduser')
EXEC sys.sp_executesql N'CREATE SCHEMA [db_ssisltduser]'
GO
/****** Object:  Schema [db_ssisoperator]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'db_ssisoperator')
EXEC sys.sp_executesql N'CREATE SCHEMA [db_ssisoperator]'
GO
/****** Object:  Schema [managed_backup]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'managed_backup')
EXEC sys.sp_executesql N'CREATE SCHEMA [managed_backup]'
GO
/****** Object:  Schema [smart_admin]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'smart_admin')
EXEC sys.sp_executesql N'CREATE SCHEMA [smart_admin]'
GO
/****** Object:  Schema [SQLAgentOperatorRole]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'SQLAgentOperatorRole')
EXEC sys.sp_executesql N'CREATE SCHEMA [SQLAgentOperatorRole]'
GO
/****** Object:  Schema [SQLAgentReaderRole]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'SQLAgentReaderRole')
EXEC sys.sp_executesql N'CREATE SCHEMA [SQLAgentReaderRole]'
GO
/****** Object:  Schema [SQLAgentUserRole]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'SQLAgentUserRole')
EXEC sys.sp_executesql N'CREATE SCHEMA [SQLAgentUserRole]'
GO
/****** Object:  Schema [TargetServersRole]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'TargetServersRole')
EXEC sys.sp_executesql N'CREATE SCHEMA [TargetServersRole]'
GO
/****** Object:  Default [default_current_date]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[default_current_date]') AND OBJECTPROPERTY(object_id, N'IsDefault') = 1)
EXEC dbo.sp_executesql N'CREATE DEFAULT [dbo].[default_current_date] 
AS
GETDATE()'
GO
/****** Object:  Default [default_one]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[default_one]') AND OBJECTPROPERTY(object_id, N'IsDefault') = 1)
EXEC dbo.sp_executesql N'CREATE DEFAULT [dbo].[default_one] 
AS
1'
GO
/****** Object:  Default [default_sdl_error_message]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[default_sdl_error_message]') AND OBJECTPROPERTY(object_id, N'IsDefault') = 1)
EXEC dbo.sp_executesql N'CREATE DEFAULT [dbo].[default_sdl_error_message] 
AS
NULL'
GO
/****** Object:  Default [default_zero]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[default_zero]') AND OBJECTPROPERTY(object_id, N'IsDefault') = 1)
EXEC dbo.sp_executesql N'CREATE DEFAULT [dbo].[default_zero] 
AS
0'
GO
/****** Object:  XmlSchemaCollection [dbo].[schema_collection_Generic SQL Trace Collector Type]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.xml_schema_collections c, sys.schemas s WHERE c.schema_id = s.schema_id AND (quotename(s.name) + '.' + quotename(c.name)) = N'[dbo].[schema_collection_Generic SQL Trace Collector Type]')
CREATE XML SCHEMA COLLECTION [dbo].[schema_collection_Generic SQL Trace Collector Type] AS N'<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:t="DataCollectorType" targetNamespace="DataCollectorType"><xsd:element name="SqlTraceCollector"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence><xsd:element name="Events"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence><xsd:element name="EventType" minOccurs="0" maxOccurs="unbounded"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence><xsd:element name="Event" maxOccurs="unbounded"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence /><xsd:attribute name="id" type="xsd:unsignedByte" use="required" /><xsd:attribute name="name" type="xsd:string" use="required" /><xsd:attribute name="columnslist" type="xsd:string" /></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element></xsd:sequence><xsd:attribute name="id" type="xsd:unsignedByte" /><xsd:attribute name="name" type="xsd:string" use="required" /></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element></xsd:sequence></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element><xsd:element name="Filters"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence><xsd:element name="Filter" minOccurs="0" maxOccurs="unbounded"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence /><xsd:attribute name="columnid" type="xsd:unsignedByte" use="required" /><xsd:attribute name="columnname" type="xsd:string" use="required" /><xsd:attribute name="logical_operator" type="xsd:string" use="required" /><xsd:attribute name="comparison_operator" type="xsd:string" use="required" /><xsd:attribute name="value" type="xsd:string" use="required" /></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element></xsd:sequence></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element></xsd:sequence><xsd:attribute name="use_default" type="xsd:boolean" /></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element></xsd:schema>'
GO
/****** Object:  XmlSchemaCollection [dbo].[schema_collection_Generic T-SQL Query Collector Type]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.xml_schema_collections c, sys.schemas s WHERE c.schema_id = s.schema_id AND (quotename(s.name) + '.' + quotename(c.name)) = N'[dbo].[schema_collection_Generic T-SQL Query Collector Type]')
CREATE XML SCHEMA COLLECTION [dbo].[schema_collection_Generic T-SQL Query Collector Type] AS N'<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:t="DataCollectorType" targetNamespace="DataCollectorType"><xsd:element name="TSQLQueryCollector"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence><xsd:element name="Query" maxOccurs="unbounded"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence><xsd:element name="Value" type="xsd:string" /><xsd:element name="OutputTable" type="xsd:string" /></xsd:sequence></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element><xsd:element name="Databases" minOccurs="0"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence><xsd:element name="Database" type="xsd:string" minOccurs="0" maxOccurs="unbounded" /></xsd:sequence><xsd:attribute name="UseSystemDatabases" type="xsd:boolean" /><xsd:attribute name="UseUserDatabases" type="xsd:boolean" /></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element></xsd:sequence></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element></xsd:schema>'
GO
/****** Object:  XmlSchemaCollection [dbo].[schema_collection_Performance Counters Collector Type]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.xml_schema_collections c, sys.schemas s WHERE c.schema_id = s.schema_id AND (quotename(s.name) + '.' + quotename(c.name)) = N'[dbo].[schema_collection_Performance Counters Collector Type]')
CREATE XML SCHEMA COLLECTION [dbo].[schema_collection_Performance Counters Collector Type] AS N'<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:t="DataCollectorType" targetNamespace="DataCollectorType"><xsd:element name="PerformanceCountersCollector"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence><xsd:element name="PerformanceCounters" minOccurs="0" maxOccurs="unbounded"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence /><xsd:attribute name="Objects" type="xsd:string" use="required" /><xsd:attribute name="Counters" type="xsd:string" use="required" /><xsd:attribute name="Instances" type="xsd:string" /></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element></xsd:sequence><xsd:attribute name="StoreLocalizedCounterNames" type="xsd:boolean" default="false" /></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element></xsd:schema>'
GO
/****** Object:  XmlSchemaCollection [dbo].[schema_collection_Query Activity Collector Type]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.xml_schema_collections c, sys.schemas s WHERE c.schema_id = s.schema_id AND (quotename(s.name) + '.' + quotename(c.name)) = N'[dbo].[schema_collection_Query Activity Collector Type]')
CREATE XML SCHEMA COLLECTION [dbo].[schema_collection_Query Activity Collector Type] AS N'<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:t="DataCollectorType" targetNamespace="DataCollectorType"><xsd:element name="QueryActivityCollector"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence><xsd:element name="Databases" minOccurs="0"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence /><xsd:attribute name="IncludeSystemDatabases" type="xsd:boolean" /></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element></xsd:sequence></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element></xsd:schema>'
GO
/****** Object:  UserDefinedTableType [dbo].[syspolicy_target_filters_type]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.types st JOIN sys.schemas ss ON st.schema_id = ss.schema_id WHERE st.name = N'syspolicy_target_filters_type' AND ss.name = N'dbo')
CREATE TYPE [dbo].[syspolicy_target_filters_type] AS TABLE(
	[target_filter_id] [int] NULL,
	[policy_id] [int] NULL,
	[type] [sysname] NOT NULL,
	[filter] [nvarchar](max) NOT NULL,
	[type_skeleton] [sysname] NOT NULL
)
GO
/****** Object:  Synonym [dbo].[syn_sysutility_ucp_computers]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'syn_sysutility_ucp_computers' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [dbo].[syn_sysutility_ucp_computers] FOR [msdb].[dbo].[sysutility_ucp_computers_stub]
GO
/****** Object:  Synonym [dbo].[syn_sysutility_ucp_cpu_utilization]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'syn_sysutility_ucp_cpu_utilization' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [dbo].[syn_sysutility_ucp_cpu_utilization] FOR [msdb].[dbo].[sysutility_ucp_cpu_utilization_stub]
GO
/****** Object:  Synonym [dbo].[syn_sysutility_ucp_dacs]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'syn_sysutility_ucp_dacs' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [dbo].[syn_sysutility_ucp_dacs] FOR [msdb].[dbo].[sysutility_ucp_dacs_stub]
GO
/****** Object:  Synonym [dbo].[syn_sysutility_ucp_databases]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'syn_sysutility_ucp_databases' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [dbo].[syn_sysutility_ucp_databases] FOR [msdb].[dbo].[sysutility_ucp_databases_stub]
GO
/****** Object:  Synonym [dbo].[syn_sysutility_ucp_datafiles]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'syn_sysutility_ucp_datafiles' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [dbo].[syn_sysutility_ucp_datafiles] FOR [msdb].[dbo].[sysutility_ucp_datafiles_stub]
GO
/****** Object:  Synonym [dbo].[syn_sysutility_ucp_filegroups]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'syn_sysutility_ucp_filegroups' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [dbo].[syn_sysutility_ucp_filegroups] FOR [msdb].[dbo].[sysutility_ucp_filegroups_stub]
GO
/****** Object:  Synonym [dbo].[syn_sysutility_ucp_logfiles]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'syn_sysutility_ucp_logfiles' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [dbo].[syn_sysutility_ucp_logfiles] FOR [msdb].[dbo].[sysutility_ucp_logfiles_stub]
GO
/****** Object:  Synonym [dbo].[syn_sysutility_ucp_smo_servers]    Script Date: 7/14/2024 9:27:14 AM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'syn_sysutility_ucp_smo_servers' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [dbo].[syn_sysutility_ucp_smo_servers] FOR [msdb].[dbo].[sysutility_ucp_smo_servers_stub]
GO
/****** Object:  Synonym [dbo].[syn_sysutility_ucp_space_utilization]    Script Date: 7/14/2024 9:27:15 AM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'syn_sysutility_ucp_space_utilization' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [dbo].[syn_sysutility_ucp_space_utilization] FOR [msdb].[dbo].[sysutility_ucp_space_utilization_stub]
GO
/****** Object:  Synonym [dbo].[syn_sysutility_ucp_volumes]    Script Date: 7/14/2024 9:27:15 AM ******/
IF NOT EXISTS (SELECT * FROM sys.synonyms WHERE name = N'syn_sysutility_ucp_volumes' AND schema_id = SCHEMA_ID(N'dbo'))
CREATE SYNONYM [dbo].[syn_sysutility_ucp_volumes] FOR [msdb].[dbo].[sysutility_ucp_volumes_stub]
GO
IF NOT EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'Microsoft_Management_Utility_Version' , NULL,NULL, NULL,NULL, NULL,NULL))
	EXEC [msdb].sys.sp_addextendedproperty @name=N'Microsoft_Management_Utility_Version', @value=N'___SQLVERSION___NEW___' 
GO
